---
import ResumeLayout from "../../../../layout/ResumeLayout.astro";
import { backend } from "../../../../services/backend";
import { EducationPdfPreview } from "../../../../components/education/EducationPdfPreview";
import { SetSharedEducations } from "../../../../components/education/SetSharedEducations";
import { EditEducation } from "../../../../components/education/EditEducation";

const { id, educationId } = Astro.params;
if (!id || !educationId) return Astro.redirect("/404");

const education = await backend.getEducation(educationId);
---

<ResumeLayout>
  <div class="flex space-x-4">
    <SetSharedEducations educations={[education]} client:load />
    <EditEducation resumeId={id} client:load />
    <div class="w-80 form-card">
      <EducationPdfPreview client:load />
    </div>
  </div>
</ResumeLayout>
