---
interface Props {
  href: string;
  title: string;
  subtitle: string;
}

const { href, title, subtitle } = Astro.props;
---

<a
  class="flex items-center space-x-2 rounded-lg shadow-md px-4 py-2 w-full bg-white border border-gray-100 hover:bg-gray-100"
  href={href}
>
  <div class="flex-1">
    <div class="font-semibold">{title}</div>
    <div class="text-sm">{subtitle}</div>
  </div>
  <i class="fa fa-pencil flex-none" aria-hidden="true"></i>
</a>
