---
import { EditEducationList } from "../../../components/education/EditEducationList";
import { EducationPdfPreview } from "../../../components/education/EducationPdfPreview.tsx";
import { SetSharedEducations } from "../../../components/education/SetSharedEducations.tsx";
import { SetSharedResume } from "../../../components/resume/SetSharedResume";
import ResumeLayout from "../../../layout/ResumeLayout.astro";
import { backend } from "../../../services/backend";

const { id } = Astro.params;
if (!id) return Astro.redirect("/404");

const resume = await backend.getResume(id);
const educations = await backend.getUserEducations();
---

<ResumeLayout>
  <div class="flex space-x-4">
    <SetSharedResume resume={resume} client:load />
    <SetSharedEducations educations={educations} client:load />
    <EditEducationList resumeId={id} client:load />
    <div class="w-80 form-card">
      <EducationPdfPreview fromResume client:load />
    </div>
  </div>
</ResumeLayout>
