---
import { EditExperienceList } from "../../../components/experience/EditExperienceList";
import ResumeLayout from "../../../components/layout/ResumeLayout.astro";
import { SetSharedExperiences } from "../../../components/react/experience/SetSharedExperiences";
import { ExperiencePdfPreview } from "../../../components/react/pdf/ExperiencePdfPreview";
import { SetSharedResume } from "../../../components/react/resume/SetSharedResume";
import { backend } from "../../../services/backend";

const { id } = Astro.params;
if (!id) return Astro.redirect("/404");

const resume = await backend.getResume(id);
const experiences = await backend.getUserExperiences();
---

<ResumeLayout>
  <div class="flex space-x-4">
    <SetSharedExperiences experiences={experiences} client:load />
    <SetSharedResume resume={resume} client:load />
    <EditExperienceList resumeId={id} client:load />
    <div class="w-80 form-card">
      <ExperiencePdfPreview fromResume client:load />
    </div>
  </div>
</ResumeLayout>
