---
import { z } from "astro/zod";
import ResumeLayout from "../../../components/layout/ResumeLayout.astro";
import { EditProfile } from "../../../components/react/profile/EditProfile.tsx";
import { SetSharedProfile } from "../../../components/react/profile/SetSharedProfile";
import { backend } from "../../../services/backend";
import { ResumeAndProfilePdfPreview } from "../../../components/react/pdf/ResumeAndProfilePdfPreview.tsx";
import { SetSharedResume } from "../../../components/react/resume/SetSharedResume";

const { id } = Astro.params;
if (!id) return Astro.redirect("/404");

const resume = await backend.getResume(id);
const profile = await backend.getUserProfile();
---

<ResumeLayout>
  <div class="flex space-x-4">
    <SetSharedResume resume={resume} client:load />
    <SetSharedProfile profile={profile} client:load />
    <EditProfile resumeId={id} client:load />
    <div class="w-80 form-card">
      <ResumeAndProfilePdfPreview client:load />
    </div>
  </div>
</ResumeLayout>
 ../../../components/react/pdf/ResumeAndProfilePdfPreview.tsx
