---
import ResumeLayout from "../../../components/layout/ResumeLayout.astro";
import { HeaderPdfPreview } from "../../../components/react/HeaderPdfPreview.tsx";
import { SetSharedProfile } from "../../../components/react/profile/SetSharedProfile";
import { EditResume } from "../../../components/react/resume/EditResume.tsx";
import { SetSharedResume } from "../../../components/react/resume/SetSharedResume";
import { backend } from "../../../services/backend";

const { id } = Astro.params;
if (!id) return Astro.redirect("/404");

const resume = await backend.getResume(id);
const profile = await backend.getUserProfile();
---

<ResumeLayout>
  <div class="flex space-x-4">
    <SetSharedResume resume={resume} client:load />
    <SetSharedProfile profile={profile} client:load />
    <EditResume resume={resume} client:load />
    <div class="w-80 form-card">
      <HeaderPdfPreview client:load />
    </div>
  </div>
</ResumeLayout>
