---
import ListItem from "../components/ListItem.astro";
import MainLayout from "../components/layout/MainLayout.astro";
import { backend } from "../services/backend";

const resumes = await backend.getUserResumes();
---

<MainLayout>
  <main class="container mx-auto flex flex-col items-center pb-4">
    <h1>My Resumes</h1>
    <p>Create and edit your resumes</p>
    <button class="btn btn-ghost btn-wide">
      Create new
      <i class="fa fa-add" aria-hidden="true"></i>
    </button>
    <div class="space-y-2 w-80 mt-4">
      {
        resumes.map((resume) => (
          <ListItem
            href={`/resumes/${resume.id}`}
            title={resume.title}
            subtitle={`Last update: ${resume.updatedAt.toLocaleDateString()}`}
          />
        ))
      }
    </div>
  </main>
</MainLayout>
