---
import moment from "moment";
import { ListItem } from "../components/common/ListItem.tsx";
import MainLayout from "../layout/MainLayout.astro";
import { Backend } from "../services/backend";

const backend = new Backend(Astro.locals.token);
const resumes = await backend.listUserResumes();
---

<MainLayout>
  <main class="container mx-auto flex flex-col items-center pb-4">
    <h1>My Resumes</h1>
    <p>Create and edit your resumes</p>
    <button class="btn btn-ghost btn-wide">
      Create new
      <i class="fa fa-add" aria-hidden="true"></i>
    </button>
    <div class="space-y-2 w-80 mt-4">
      {
        resumes.map((resume) => (
          <ListItem
            href={`/resumes/${resume.id}`}
            title={`${resume.name} (${resume.title})`}
            subtitle={`Updated ${moment(resume.updatedAt).fromNow()}`}
          />
        ))
      }
    </div>
  </main>
</MainLayout>
