---
import { TestNano1 } from "../components/test-nano/TestNano1";
import { TestNano2 } from "../components/test-nano/TestNano2";
---

<h1>Test NanoStores (React)</h1>

<div class="flex space-x-2">
  <TestNano1 client:visible startValue={15} />
  <TestNano2 client:visible />
</div>
