---
import ResumeLayout from "../../../../layout/ResumeLayout.astro";
import { EditExperience } from "../../../../components/experience/EditExperience";
import { SetSharedExperiences } from "../../../../components/experience/SetSharedExperiences";
import { backend } from "../../../../services/backend";
import { ExperiencePdfPreview } from "../../../../components/experience/ExperiencePdfPreview";

const { id, experienceId } = Astro.params;
if (!id || !experienceId) return Astro.redirect("/404");

const experience = await backend.getExperience(experienceId);
---

<ResumeLayout>
  <div class="flex space-x-4">
    <div>
      <SetSharedExperiences experiences={[experience]} client:load />
      <EditExperience resumeId={id} client:load />
    </div>
    <div class="w-80 form-card">
      <ExperiencePdfPreview client:load />
    </div>
  </div>
</ResumeLayout>
 ../../../../components/experience/SetSharedExperiences
../../../../components/experience/ExperiencePdfPreview
